matrices/tey.npy filter=lfs diff=lfs merge=lfs -text
matrices/target_mat.npy filter=lfs diff=lfs merge=lfs -text
matrices/firstgen.npy filter=lfs diff=lfs merge=lfs -text
matrices/nld_sm.npy filter=lfs diff=lfs merge=lfs -text
matrices/retouched.npy filter=lfs diff=lfs merge=lfs -text
matrices/target.npy filter=lfs diff=lfs merge=lfs -text
matrices/egex_fg.bin filter=lfs diff=lfs merge=lfs -text
matrices/gsf_sm.npy filter=lfs diff=lfs merge=lfs -text
matrices/raw.npy filter=lfs diff=lfs merge=lfs -text
matrices/target_red.npy filter=lfs diff=lfs merge=lfs -text
matrices/topo.npy filter=lfs diff=lfs merge=lfs -text
matrices/targe_redt.npy filter=lfs diff=lfs merge=lfs -text
matrices/egex_bg.bin filter=lfs diff=lfs merge=lfs -text
matrices/exfor.npy filter=lfs diff=lfs merge=lfs -text
matrices/qrpa.npy filter=lfs diff=lfs merge=lfs -text
matrices/gauss_2.npy filter=lfs diff=lfs merge=lfs -text
matrices/paint filter=lfs diff=lfs merge=lfs -text
matrices/reference_red.npy filter=lfs diff=lfs merge=lfs -text
matrices/rex.npy filter=lfs diff=lfs merge=lfs -text
matrices/gauss_1.npy filter=lfs diff=lfs merge=lfs -text
matrices/oscar2017_scale1.15 filter=lfs diff=lfs merge=lfs -text
matrices/rey.npy filter=lfs diff=lfs merge=lfs -text
matrices/weights.npy filter=lfs diff=lfs merge=lfs -text
matrices/reference_mat.npy filter=lfs diff=lfs merge=lfs -text
matrices/tex.npy filter=lfs diff=lfs merge=lfs -text
matrices/firstgen_untouched.npy filter=lfs diff=lfs merge=lfs -text
matrices/gsf_M1.npy filter=lfs diff=lfs merge=lfs -text
normalizer/NormalizerNLD.pkl filter=lfs diff=lfs merge=lfs -text
normalization/discrete.npy filter=lfs diff=lfs merge=lfs -text
normalization/exfor.json filter=lfs diff=lfs merge=lfs -text
normalization/Ti51-0_20_MeV-gsf-allspins-E1.txt filter=lfs diff=lfs merge=lfs -text
normalization/Zn-70-E1-HFB-QRPA.txt filter=lfs diff=lfs merge=lfs -text
normalization/discrete_levels.txt filter=lfs diff=lfs merge=lfs -text
normalization/NormalizerGSF.pkl filter=lfs diff=lfs merge=lfs -text
normalization/NormalizerNLD.pkl filter=lfs diff=lfs merge=lfs -text
normalization/Ti51-0_20_MeV-gsf-allspins-M1.txt filter=lfs diff=lfs merge=lfs -text
normalization/discrete_levels.txt.npy filter=lfs diff=lfs merge=lfs -text
saved_run/extract_100 filter=lfs diff=lfs merge=lfs -text
saved_run/extract_200 filter=lfs diff=lfs merge=lfs -text
saved_run/extraction_ensemble filter=lfs diff=lfs merge=lfs -text
saved_run/normalizers filter=lfs diff=lfs merge=lfs -text
figures/gsf_kshell.pdf filter=lfs diff=lfs merge=lfs -text
figures/matrices.pdf filter=lfs diff=lfs merge=lfs -text
figures/nld_kshell.pdf filter=lfs diff=lfs merge=lfs -text
figures/normalized_model.pdf filter=lfs diff=lfs merge=lfs -text
figures/normalized.pdf filter=lfs diff=lfs merge=lfs -text
figures/normalized.png filter=lfs diff=lfs merge=lfs -text
figures/siri_plot.pdf filter=lfs diff=lfs merge=lfs -text
figures/topology.pdf filter=lfs diff=lfs merge=lfs -text
figures/normalized_model_models.pdf filter=lfs diff=lfs merge=lfs -text
figures/products.pdf filter=lfs diff=lfs merge=lfs -text
figures/trapezoid.pdf filter=lfs diff=lfs merge=lfs -text
figures/unormalized.pdf filter=lfs diff=lfs merge=lfs -text
